<div id="aboutMe" class="container">
    <div class="innerAboutMe">
        <p class="name">Julie <br>Lee</p>
        <br>
        <p class="title">Web Developer</p>
    </div>
</div>


<!--Logos-->
<div id="logos" class="container">
    <div id="languages">
        <p>I currently work with the following:</p>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/angular-js.sh.png"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/bootstrap-logo.png"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/css3.png"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/HTML_Logo.png"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/jQurery.gif"></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12"><img src="img/js.sh.png"></div>
    </div>
</div>
<!--end of logos-->
<!--Resume-->
<div id="resume" class="container">
    <h1>Skills</h1>
    <p><span>Programming:</span>
        <div id="skillsFE">
            <p>Front End:HTML5, CSS3, JavaScript, JQuery, Bootstrap, AngularJS, AJAX, REST</p>
            <p>Backend: Basic Node and Express for creating REST APIs</p>
            <p>Misc: Wordpress CMS, Microsoft Office Suite, Sass</p>
        </div>
        <!--End of skillsFE-->
        <p><span>Interpersonal:</span> Ability to work well in teams and efficient at time management</p>
        <p><span>Language:</span> Spanish (intermediate), Korean (intermediate)</p>
        <div id="experience">
            <h1>Experience</h1>
            <p><span>Intern, Inflectra Corporation (November 2017-January 2018)</span></p>
            <p>Built a custom Google extension add-on functionality utilizing Javascript </p>
            <p>Collaborated with company members in an agile environment to ensure functionality was meeting the standards of their expectations</p>
            <p>Wrote supporting documentation for easy user readability</p>
            <p>Participated in weekly company team meetings to discuss decisions regarding company-wide operational improvements</p>
            <p><span>Instructor, Boolean Girls Camp (June 2017-August 2017)</span></p>
            <p>Instructed adolescent children the basics of object oriented fundamentals through the creation of individual projects</p>
            <p><span>Administrative Assistant, Fidelity Mechanical Services (March 2016-May 2017)</span></p>
            <p> Managed administrative duties for the branch to ensure communication between departments and customers was efficient
                <p>Performed invoice processing for company project transactions and acted as a liaison between the branch and accounts payable located in the main headquarters </p>
                </div>
        <!--end of experience -->
        <h1>Education</h1><br>
        <span><p>University of Maryland, Baltimore County</p></span>
        <p>December 2017-B.S. in Financial Economics with a certificate in Accounting</p>
</div>
<!--end of resume-->
<!--Scroll To Top-->
<div class="scrollToTop" ng-click="topFunction()">
    <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
    <p>Back to Top</p>
</div>
<!--end of Scroll To Top-->
