<div id="projectsDiv"><h1 id="allProjectsHeader">Complete Project List</h1>
<h1>(All created with AngularJS!)</h1>
<p>click the image to view the project</p>
</div>
<div id="allProjectsHtml" class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Wikipedia Search Page</h1>
            <p>Find the wikipedia article for any subject!</p>
            <a ui-sref="wikiProject"><img src="img/wikipage.JPG" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Dog Pen App</h1>
            <p>Create a wish list of your favorite dog breeds!</p>
            <a ui-sref="dogPen"><img src="img/dogapp.JPG" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>Random Quote Generator</h1>
            <p>Find out the famous words of the greatest influencers of the world (Tweet those that you want to share!)</p>
            <a ui-sref="randomQuoteGenerator"><img src="img/Screenshot 2018-01-27 at 6.38.46 PM.png" class="img-thumbnail img-responsive"></a>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>To Do List</h1>
            <p>Keep track of your daily To Do's!</p>
            <a ui-sref="toDoList"><img src="img/todo.JPG" class="img-thumbnail img-responsive"></a>
        </div>
    </div><!--end of row -->
</div><!--end of allProjectsHtml container-->
<!--Scroll to Top-->
<div class="scrollToTop" ng-click="topFunction()">
    <i class="fa fa-angle-up" aria-hidden="true" ng-click></i>
    <p>Back to Top</p>
</div><!--end of Scroll to Top-->